<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-chat</title>
    <!-- General description -->
    <meta name="description" content="e-Chat is an advanced AI chatbot developed by Efatha Rutakaza that scientists, researchers, and many more use for diving deep into research and interacting with information across various fields.">
    <!-- Twitter Card -->
    <meta name="twitter:card" content="e-chat">
    <meta name="twitter:title" content="e-Chat">
    <meta name="twitter:description" content="e-Chat is an advanced AI chatbot developed by Efatha Rutakaza that scientists, researchers, and many more use for diving deep into research and interacting with information across various fields.">
    <meta name="twitter:image" content="https://efatha.github.io/e-chat/Chat/icon/artificial-intelligence.png">
    <meta name="twitter:site" content="@efathab">
    <meta name="twitter:creator" content="@efatha_rutakaza">
    <!-- Open Graph -->
    <meta property="og:url" content="https://efatha.github.io/e-chat/">
    <meta property="og:title" content="e-Chat">
    <meta property="og:description" content="e-Chat is an advanced AI chatbot developed by Efatha Rutakaza that scientists, researchers, and many more use for diving deep into research and interacting with information across various fields.">
    <meta property="og:image" content="https://efatha.github.io/e-chat/Chat/icon/artificial-intelligence.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <!-- Favicon -->
    <link rel="icon" href="/static/images/artificial-intelligence.png" type="image/png">
    <link rel="stylesheet" href="/static/css/form.css">
</head>
<body>
  <!-- Beginning of the form container -->
  <div class="container">
    <div class="wrapper">
      <h1 class="efatha-chat">e-chat</h1>
      <div class="form">
        <label for="user_name">Your name <input type="text" class="inpName"></label><br><br>
        <label for="user_email">Your email <input type="email" class="inpEmail"></label>
        <button id="sendBtn">Send</button>
      </div>
    </div>
  </div>
  <div id="efa-chatMessage"></div>
  <div class="new"></div>
  <script src="/static/js/script.js"></script>
</body>
</html>